body {
    background-color: #213332 ;
}





nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D1AA;
    
}
#logo {
    width: 100%;
    align-items: center;
    justify-content: center;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 2em;
    
    min-width: 120px;

   
    
}

nav a:hover {
    background-color: #94A092;
    color: #FEFAEE;
    text-decoration: underline;
}


#homepage-hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 75px;
    margin-bottom: -30px;
}


#title-hero {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    z-index: 1;
    margin-top: 100px;
    font-size: 7em;
    font-family: "Brush Script MT", "Times New Roman";
    text-shadow: 1px 1px 7px black; 
    
    color: #D9D1AA ;
    background-color: #213332;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
}

#home-hero-img {
    grid-column: 1/5;
    grid-row: 1/4;
    width: 100%;
    height: 1000px;
    z-index: -1;
    
}

#homepage-main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 200px 1fr;
    margin: 100px;
    
}

#homepage-text-one, #homepage-text-two {
    font-size: 2em;
    text-align: center;
    color:#FEFAEE ;
}

#homepage-text-two{
    margin-top: 400px;
}


#selfie, #cyberpunk_city_homepage-img, #los_homepage_img, #home-hero-img {
    box-shadow: 5px 5px 10px black;
}

#selfie {
    grid-column:1/2 ;
    grid-row: 1-2;
    width: 725px;
}

#homepage-text-one {
    grid-column: 2/3;
    grid-row: 1/2;
}

#homepage-text-two{
    grid-column: 2/3;
    grid-row: 1/2;
}

#homepage-text-three {
    grid-column: 1/3;
    grid-row:2/3 ;
    text-align: center;
    background-color: #D9D1AA;
    font-size: 2em;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    
}


#FOAB {
    grid-column: 1/2;
    grid-row: 3/4;
}

#LOS {
    grid-column: 2/3;
    grid-row: 3/4;
}

#cyberpunk_city_homepage-img, #los_homepage_img {
    width: 600px;
    display: block;
    margin: auto;
}

#img_title_foab, #img_title_los {
    color: #FEFAEE ;
    font-size: 2em;
    text-shadow: 1px 1px 7px black;
    text-align: center;
    
    
}



footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D1AA;
}

footer p {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 2em;
    
    min-width: 120px;
}

footer p:hover {
    background-color: #94A092;
    color: #FEFAEE;
    text-decoration: underline;
}



/* _____________________________________________LEGION OF SAINTS____________________________________________________________ */

#los-hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 400px 1fr ;
}

#los-hero h1 {
    font-size: 7em;
    font-family: "Brush Script MT", "Times New Roman";
    text-shadow: 1px 1px 7px black; 
    color: #D9D1AA ;
    grid-column: 2/4;
    grid-row: 1/2;
}

#los-hero-text-one {
    font-size: 2em;
    text-align: center;
    color:#FEFAEE ;
    grid-column: 1/5;
    grid-row: 2/3;
    

}

#octavia-hero-img, #los-hero-img-male {
    width: 80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
}



#octavia-hero-img {
    grid-column: 1/3;
    grid-row: 3/4;
}

#los-hero-img-male {
    grid-column: 3/5;
    grid-row: 3/4;
}


#los-main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 200px;
}

#los-main-grid-text-one {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center; 
    background-color: #D9D1AA;
    font-size: 2em;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}



.slideshow-container {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 80%;
    margin:auto;
}

* {box-sizing:border-box}

.slideshow-imgs {
    display: block;
    width: 70%;
    margin: auto;
}

#div1 {
    display: block;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: inherit;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #FEFAEE;
  font-size: 20px;
  padding: 8px 12px;
  grid-column: 1/2;
  grid-row: 2/3;
  
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* #female-los {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
} */

#los-main-grid-text-two {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    font-size: 2em;
    color:#FEFAEE ;
   
}
